/* global CSS */

/* Referenced: */
/* https://www.colordic.org/w */

/* TODO set app to 100vh  */

/* ******************** */
/* Animations */

@keyframes slideUp {
  from {
    opacity: 0;
    margin-top: 4rem;
  }
  to {
    opacity: 1;
    margin-top: 1rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card-container {
  animation: slideUp 2s;
}

.accordion-element {
  animation: fadeIn 0.5s;
}

/* ******************** */
h1 {
  color: #8d6449;
  /* color: #c53d43; */
  margin-top: 1rem;
}

.header-container {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.header-container small {
  /* font-style: italic; */
  margin-bottom: 12px;
  color: #c53d43;
}

.header {
  font-size: 3rem;
  margin-left: 0;
  text-align: left;
  color: #c53d43;
}

.form-container {
  display: flex;
  padding: 12px;
  padding-right: 0px;
  /* background-color: red; */
  align-items: center;
  justify-content: right;
}

.form-container label {
  color: #8d6449;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 12px;
}

.form-container input {
  padding: 7px 18px;
  min-width: 480px;
  margin-right: 12px;
}

/* OVERRINDING REACT BOOTSTRAP STYLES FOR ACCORDION */
/* used inspector to see actual classes */

.accordion-button:not(.collapsed) {
  color: #444;
  /* background-color: #ebebebb8; */
  /* background-color: #ffecb1; */
  background-color: #fedddf;
}

.accordion-button:focus {
  box-shadow: none;
}

/* icon color */
.accordion-button:not(.collapsed)::after {
  background-image: #c53d43;
  transform: #c53d43;
}
